<div>
  <h1>Contact Form</h1>
  <div>
    <form
      [formGroup]="contactform"
      (ngSubmit)="onSubmit(contactform.value); contactform.reset()"
    >
      <label>First Name</label>
      <input
        type="text"
        formControlName="firstname"
        placeholder="Enter your first name"
      />

      <label>Last Name</label>
      <input
        type="text"
        formControlName="lastname"
        placeholder="Enter your last name"
      />

      <label>Email</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />

      <label>Number</label>
      <input
        type="number"
        formControlName="number"
        placeholder="Enter your number"
      />

      <input type="submit" />
    </form>
  </div>
</div>
